<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:repository="http://www.springframework.org/schema/data/repository"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/data/jpa
    http://www.springframework.org/schema/data/jpa/spring-jpa-1.8.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
        http://www.springframework.org/schema/data/repository
        http://www.springframework.org/schema/data/repository/spring-repository-1.8.xsd">

    <!--
        Configures the location of static resources such as css files.
        Requires Spring Framework 3.0 or higher.
    -->
    <mvc:resources mapping="/static/**" location="/static/"/>

    <!--
        Ensures that dispatcher servlet can be mapped to '/' and static resources
        are still served by the containers default servlet. Requires Spring Framework
        3.0 or higher.
    -->

    <mvc:default-servlet-handler/>

    <!--
        Configures Spring Data JPA and sets the base package of my DAOs.
    -->
    <jpa:repositories base-package="com.roslin.mwicks.spring.variation.repository" entity-manager-factory-ref="entityManagerFactoryBean"/>
    
    
    <!--
        Configures Custom Data Converter
    -->
    <context:annotation-config />
    
    <!--
    <mvc:annotation-driven>
      <mvc:message-converters  register-defaults="true"> 
        <bean class="com.roslin.mwicks.spring.variation.message.CSVMessageConvertor" /> 
      </mvc:message-converters> 
    </mvc:annotation-driven>
    
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
      <property name="converters">
        <list>
            <bean class="com.roslin.mwicks.spring.variation.message.CSVMessageConvertor"/>
        </list>
      </property>
    </bean>
    -->
      
</beans>